@mixin linear-gradient($deg, $col1, $pers1, $col2, $pers2) {
  background: -webkit-linear-gradient($deg, $col1 $pers1, $col2 $pers2);
  background: -o-linear-gradient($deg, $col1 $pers1, $col2 $pers2);
  background: -ms-linear-gradient($deg, $col1 $pers1, $col2 $pers2);
  background: linear-gradient($deg, $col1 $pers1, $col2 $pers2);
}